.zhezhao {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
a:hover {
  color: #ff8a00;
}
.search {
  width: 100%;
  position: relative;
  z-index: 1;
}
.search input {
  width: 2.89rem;
  height: 0.4rem;
  background-color: white;
  font-size: 0.12rem;
  color: #787778;
  background-size: 0.25rem;
  border: 1px solid #cccccc;
  border-radius: 0.05rem;
  display: block;
  margin: 0.1rem auto;
}
.search .search_img {
  width: 0.28rem;
  height: 0.28rem;
  position: absolute;
  right: 0.3rem;
  top: 0.03rem;
}
.extend {
  width: 100%;
  height: auto;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  position: absolute;
  z-index: 3;
}
.extend .sanjiao {
  width: 100%;
  height: 0.4rem;
  display: flex;
  background-color: white;
}
.extend .sanjiao li {
  flex: 1;
  font-size: 0.18rem;
  color: #686867;
  text-align: center;
  padding-top: 0.1rem;
  position: relative;
}
.extend .sanjiao li .jiao {
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0);
  border-top: 0.05rem solid #cccccc;
  border-left: 0.05rem solid rgba(0, 0, 0, 0);
  border-right: 0.05rem solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 0.15rem;
  left: 0.6rem;
}
.extend .sanjiao li .active {
  border-top: 0.05rem solid rgba(0, 0, 0, 0);
  border-bottom: 0.05rem solid #ff8a00;
  border-left: 0.05rem solid rgba(0, 0, 0, 0);
  border-right: 0.05rem solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 0.1rem;
  left: 0.6rem;
}
.extend .area {
  width: 100%;
  height: 2.6rem;
  background-color: white;
  display: flex;
}
.extend .area .area-l {
  width: 0.8rem;
  height: 100%;
  background-color: #f0f0f0;
  border-right: 1px solid #cccccc;
}
.extend .area .area-l a {
  display: block;
  font-size: 0.16rem;
  padding: 0.05rem 0.2rem;
}
.extend .area .area-l a:hover {
  color: #ff8a02;
  background-color: white;
  border: 0;
}
.extend .area .area-r {
  flex: 1;
  font-size: 0.12rem;
  color: #7f88a4;
  display: flex;
  align-items: center;
}
.extend .area .area-r ul {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.extend .area .area-r ul li {
  width: 100%;
  flex: 1;
  text-align: center;
}
.extend .money {
  width: 100%;
  height: 2.6rem;
  background-color: white;
  display: none;
}
.extend .money ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.2rem;
}
.extend .money ul li {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #dddddd;
  font-size: 0.12rem;
  color: #dedede;
  padding-top: 0.1rem;
}
.extend .byhouse {
  width: 100%;
  height: 3.1rem;
  font-size: 0.13rem;
  background-color: white;
  display: none;
}
.extend .byhouse ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.2rem;
}
.extend .byhouse ul li {
  flex: 1;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 0.15rem;
  position: relative;
}
.extend .byhouse ul li input {
  position: absolute;
  top: 0.15rem;
  right: 0.05rem;
}
.extend .byhouse ul button {
  width: 100%;
  height: 0.4rem;
  border: none;
  background-color: #ff8a00;
  color: white;
  line-height: 0.4rem;
  text-align: center;
}
.extend .more {
  width: 100%;
  height: 6rem;
  background-color: white;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  display: none;
}
.extend .more .more-li {
  flex: 1;
  width: 100%;
  border-bottom: 1px solid #cecece;
}
.extend .more .more-li p {
  font-size: 0.15rem;
  margin: 0.1rem 0;
  font-weight: 600;
}
.extend .more .more-li ul {
  width: 100%;
  height: 100%;
}
.extend .more .more-li ul li {
  float: left;
  width: 20%;
  margin: 0.07rem 0.05rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.12rem;
  border: 1px solid #cecece;
}
.ulss {
  width: 100%;
  padding: 0 0.1rem;
  background-color: #f5f5f5;
  margin-top: 0.5rem;
}
.ulss li {
  width: 100%;
  height: 1.4rem;
  border-bottom: 1px solid #ff2e2e;
  font-size: 0.12rem;
  overflow: hidden;
}
.ulss li img {
  display: block;
  width: 0.9rem;
  float: left;
  margin: 0.3rem 0.2rem 0 0;
}
.ulss li div {
  width: 1.8rem;
  float: left;
  padding: 0.3rem 0.1rem 0.3rem 0;
}
.ulss li div .lis-one {
  width: 100%;
  font-size: 0.18rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ulss li div .sn {
  margin-top: 0.1rem;
  font-size: 0.13rem;
  font-weight: 500;
}
.ulss li div .lis-two {
  color: #b7b7b7;
  margin-top: 0.05rem;
}
.ulss li div .lis-two span {
  color: #ff8a00;
  font-weight: 600;
}
.ulss li div .lis-three {
  font-size: 0.12rem;
  color: #b7b7b7;
  margin-top: 0.05rem;
}
