html,
body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
html .login,
body .login {
  width: 100%;
  height: 1.9rem;
  background: url('../my/bg1.png') no-repeat;
  background-size: 100%;
  position: relative;
}
html .login .nav-l,
body .login .nav-l {
  width: 0.3rem;
  height: 0.45rem;
  margin-left: 2.33rem;
  display: block;
  padding-top: 0.12rem;
}
html .login .nav-l img,
body .login .nav-l img {
  display: block;
}
html .login .nav-l p,
body .login .nav-l p {
  margin-top: 0.05rem;
  font-size: 0.12rem;
  color: white;
}
html .login .nav-r,
body .login .nav-r {
  width: 0.3rem;
  height: 0.45rem;
  display: block;
  position: absolute;
  right: 0.1rem;
  top: 0.12rem;
}
html .login .nav-r img,
body .login .nav-r img {
  display: block;
}
html .login .nav-r p,
body .login .nav-r p {
  margin-top: 0.05rem;
  font-size: 0.12rem;
  color: white;
}
html .login .user,
body .login .user {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0.25rem, -0.25rem);
}
html .login button,
body .login button {
  width: 0.64rem;
  height: 0.3rem;
  border: none;
  border: 1px solid white;
  color: white;
  line-height: 0.3rem;
  text-align: center;
  background: none;
  display: block;
  margin: 0.7rem 0 0.3rem 1.3rem;
}
html .login .mains,
body .login .mains {
  width: 100%;
  height: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 0.2rem;
  margin-top: 0.4rem;
}
html .login .mains li,
body .login .mains li {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #e3e3e3;
  font-size: 0.12rem;
  color: #676767;
  padding-top: 0.1rem;
  position: relative;
}
html .login .mains li a img,
body .login .mains li a img {
  width: 0.2rem;
}
html .login .mains li a .big,
body .login .mains li a .big {
  position: absolute;
  right: 0rem;
}
